.card {
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 50px;
    margin-bottom: 15px;
  }
  
  .card-title {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card-button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #f0f0f0;
  }
  

  /* Estilos para la página */
.container {
    text-align: center;
    padding: 50px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  